/.phpunit.cache
.DS_Store
*.bak
*backup*
test-results/
/node_modules
/build
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
/vendor
.env
.env.*
!.env.example
!.env.production.example
.env.bak
.env.backup
.env.production
.env.local
public/sitemap.xml
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.codex/
.cursor/
.agent/
