/.phpunit.cache
.DS_Store
test-results/
*.bak
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/pail
/vendor
.env
.env.bak
.env.backup
.env.production
public/sitemap.xml
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
